<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>
      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.fields_for :detail do |detail| %>
    <div class="avatar_upload">
      <% if user.detail.avatar.attached? && user.detail.avatar.image? %>
        <%= image_tag user.detail.avatar.variant(resize: "130x130") %>
      <% end %>
      <div class="overlay_on_avatar_upload"> 
        Upload Image
        <div class="upload_button">
          <%= detail.file_field :avatar %>
        </div> 
      </div>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>