<!DOCTYPE html>
<html>
  <head>
    <title>RailsProject</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <% if logged_in? %>
        <%= link_to current_user.name, edit_user_path(current_user.id) %>
        <%= link_to "Log Out", logout_path %>
      <% else %>
        <%= link_to "Login", login_path %> |
        <%= link_to "Sign Up", signup_path %>
      <% end %>
    </nav>
    <%= yield %>
  </body>
</html>
